<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <title>Moe | Home Page</title>
        <meta name="theme-color" content="#5865F2">
        <meta property="og:url" content="/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Moe | Home">
        <meta property="og:description" content="Moe, Eveyrthing Related To Anime">
        <%- include('partials/icon') %>
        <meta property="og:site_name" content="Anime Is My Moe">
        <%- include('partials/css') %>
    </head>
    <body style="/*background: url(&quot;design.jpg&quot;);*/ background-position: 0 -60px">
        <nav class="navbar navbar-dark navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="/"><span>Moe</span></a
                ><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                    <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link active" href="/chart">See Airing Chart</a></li>
                        <li class="nav-item"><a class="nav-link active" href="/schedule">See Schedule</a></li>
                        <li class="nav-item"><a class="nav-link active" href="/birthdays">Birthdays</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <header class="bg-dark pt-5">
            <div class="container pt-4 pt-xl-5">
                <div class="row pt-5">
                    <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
                        <div class="text-center">
                            <h1 class="fw-bold">Moe</h1>
                            <h3 class="fw-bold">Everything Related To Anime</h3>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="conatiner py-5 py-xl-5">
            <% if (animes) { %>
                <div class="container py-4 py-xl-5 text-center">
                    <div class="row mb-5">
                        <div class="col-md-8 col-xl-6 text-center mx-auto">
                            <h2>All Animes Related To This Genre</h2>
                            <nav class="d-flex align-items-center justify-content-center">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="/genre/<%= genre %>?page=1">1</a></li>
                                    <li class="page-item"><a class="page-link" href="/genre/<%= genre %>?page=2">2</a></li>
                                    <li class="page-item"><a class="page-link" href="/genre/<%= genre %>?page=3">3</a></li>
                                    <li class="page-item"><a class="page-link" href="/genre/<%= genre %>?page=4">4</a></li>
                                    <li class="page-item"><a class="page-link" href="/genre/<%= genre %>?page=5">5</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-lg-3">
                        <% animes.forEach((anime) => { %>
                            <div class="col">
                                <div class="d-flex flex-column justify-content-center align-items-center">
                                    <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="<%= anime.coverImage.large %>" />
                                        <div>
                                            <p class="fw-bold text-primary mb-0"><%= anime.title?.romaji ?? "No Title" %></p>
                                            <a href="/anime/<%= anime.id %>"><p class="text-muted mb-0">View More Info</p></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            <% } %>
        </div>
        <%- include('partials/footer') %>
        <%- include('partials/js') %>
    </body>
</html>
