<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <title>Moe | Home Page</title>
        <meta name="theme-color" content="#5865F2">
        <meta property="og:url" content="/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Moe | Home">
        <meta property="og:description" content="Moe, Eveyrthing Related To Anime">
        <%- include('partials/icon') %>
        <meta property="og:site_name" content="Anime Is My Moe">
        <%- include('partials/css') %>
    </head>
    <body style="/*background: url(&quot;design.jpg&quot;);*/ background-position: 0 -60px">
        <nav class="navbar navbar-dark navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="/"><span>Moe</span></a
                ><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                    <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item"><a class="nav-link active" href="/search">Search Anime</a></li>
                        <li class="nav-item"><a class="nav-link active" href="/chart">See Airing Chart</a></li>
                        <li class="nav-item"><a class="nav-link active" href="/schedule">See Schedule</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <header class="bg-dark pt-5">
            <div class="container pt-4 pt-xl-5">
                <div class="row pt-5">
                    <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
                        <div class="text-center">
                            <h1 class="fw-bold">Moe</h1>
                            <h3 class="fw-bold">Everything Related To Anime</h3>
                        </div>
                    </div>
                </div>
            </div>
        </header>
            <section>
                <div class="container bg-dark py-5">
                    <div class="row">
                        <div class="col-md-8 col-xl-6 text-center mx-auto">
                            <h3 class="fw-bold mb-2">Trending Anime Right Now -</h3>
                        </div>
                    </div>
                    <div class="py-5 p-lg-5">
                        <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px">
                            <% animes.forEach((anime) => { %>
                                <div class="card mb-3 text-center">
                                    <div class="row">
                                      <div class="col-md-12">
                                        <img src="<%= anime.coverImage.large %>" class="img-fluid rounded-start">
                                      </div>
                                      <div class="col-md-12">
                                        <div class="card-body">
                                          <h5 class="card-title"><%= anime.title?.romaji ?? "No Title" %></h5>
                                          <span class="badge bg-primary mb-2">Source: <%= anime.source ?? "Unknown Source" %></span>
                                          <span class="badge bg-primary mb-2">Episodes: <%= anime.episodes ?? "?" %></span>
                                          <span class="badge bg-primary mb-2">Popularity: <%= anime.popularity ?? "0" %></span>
                                          <span class="badge bg-primary mb-2">Score: <%= anime.averageScore ?? "0" %></span>   
                                          <p class="card-text"><%= anime.description ?? "No Description" %></p>
                                          <span class="badge bg-primary mb-2">Genres: <%= anime.genres.join(", ") ?? "Not Known" %></span>
                                          <a href="/anime/<%= anime.id %>">
                                            <p class="card-text"><small class="text-muted">View More Info</small></p>
                                          </a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </section>
        <footer class="bg-dark">
            <div class="container py-4 py-lg-5">
                <hr />
                <div class="text-center text-muted justify-content-between align-items-center pt-3">
                    <p class="mb-0">Copyright © 2022 Moe</p>
                    <a href="https://anilist.co/"><p class="mb-0">This Website Was Made With The Help Of Anilist</p></a>
                </div>
            </div>
        </footer>
        <%- include('partials/js') %>
    </body>
</html>